*:focus {
  outline: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  font-size: 1.9vw;
  font-family: 'Archivo Narrow';
}

nav {
  background: linear-gradient(to right, rgb(71, 71, 71), rgb(17, 17, 17));
}

main {
  background: linear-gradient(rgb(71, 71, 71), rgb(17, 17, 17));
  height: 100%;
  width: 65%;
  margin: 0 auto;
  padding-bottom: 1.4em;
  box-shadow: inset 0px 0px 0.25em 0.055em rgba(0, 0, 0, 0.55);
}

header {
  background: rgba(255, 255, 255, 0.589);
  height: 3em;
  box-shadow: 0px 0px 0.125em 0.015em rgba(0, 0, 0, 0.55);
}

p {
    margin: .7em;
}

#ernie-logo {
  line-height: 3em;
  text-transform: uppercase;
  font-family: 'Gugi';
  display: inline-block;
  position: absolute;
  left: 1.5em;
  background: none;
  color: rgba(32, 32, 32, 0.938);
}

nav ul {
  font-family: 'Gugi';
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 3em;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(179, 179, 179);
}

h1 {
  text-align: center;
  width: 7em;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  font-size: 1.5em;
  margin: 0 auto;
  padding: .6em;
}

.results-hidden {
  display: none
}

.player-info-hidden {
  display: none;
}

#player-score {
  width: 2em;
  text-align: center;
  position: relative;
  bottom: .3em;
  font-size: 4em;
  right: .6em;
}

.playerFormScore {
  margin: 0 auto;
}

section > h2 {
  margin-left: 1.5em;
  line-height: 8em;
}

#score {
  padding: 1.5em;
  margin: auto;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  height: 8em;
  text-align: left;
  background: rgba(32, 32, 32, 0.938);
  box-shadow: inset 0px 0px 0.125em 0.015em rgba(0, 0, 0, 0.55);
  width: 80%;
  text-align: center;
