html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: 'Archivo Narrow';
}

main {
  background:rgb(105, 139, 124);
  height: 100%;
  width: 65%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

header {
  background: chocolate;
  height: 4rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}

nav ul {
  line-height: 4rem;
  width: 30%;
  margin: 0 auto;
}

nav ul li {
  padding-right: 3rem;
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

#instructions {
  text-transform: uppercase;
  padding: 1rem 12rem;
  text-align: center;
  background: teal;
  height: 8rem;
}

.row {
  display:flex;
  justify-content: space-evenly;
  margin: 1rem auto;
}

div.game {
  width: 60%;
  margin: 1.5rem auto;
  padding: 1rem 0;
}

.game div {
  cursor: pointer;
  border-radius: 6rem;
  text-align: center;
  line-height: 6rem;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  margin: .5rem 0;
  padding: .25rem;
}

#div1 {
  color: rgb(179, 179, 179);
  width: 6rem;
  height: 6rem;
  
}

#div2 {
  color: rgb(179, 179, 179);
  width: 6rem;
  height: 6rem;    
  
}
#div3 {
  color: rgb(179, 179, 179);
  width: 6rem;
  height: 6rem;    
} 

#div4 {
  color: rgb(179, 179, 179);
  width: 6rem;
  height: 6rem;
  
}

#divMain {
  color: rgb(179, 179, 179);
  width: 6rem;
  height: 6rem;
  
}